<link href="vendor/css/about.css" rel="stylesheet">

<br><br>
<div class="header">
	<p> Team <p>
	</div>


<div class="row">
  <div class="column">
		<img src="../vendor/images/ramirez.jpg" alt="Ícaro" style="width:100%">
    <div class="card">
      <div class="container">
        <h2>Ramirez</h2>
        <p class="title">Idealizer</p>
        <p>Ramirez Pedro é delegado da DEGEPOL estado da Paraíba. Foi o idealizador desta aplicação...</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
		<img src="../vendor/images/team-icaro.jpg" alt="Ícaro" style="width:100%">
    <div class="card">
      <div class="container">
        <h2>Ícaro Forte</h2>
        <p class="title">Developer & Designer</p>
        <p>Aluno do curso de Ciência da Computação na Universidade Federal de Campina Grande.</p>
        <p>icarofort@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
		<img src="../vendor/images/team-dayana.jpg" alt="Dayana" style="width:100%">
    <div class="card">
      <div class="container">
        <h2>Dayana Souza</h2>
        <p class="title">Developer & Designer</p>
        <p>Aluna do curso de Ciência da Computação na Universidade Federal de Campina Grande.</p>
        <p>example@example.com</p>
      </div>
    </div>
  </div>
</div>
