<link href="vendor/css/about.css" rel="stylesheet">

<br><br>
<div class="about-container">
	<div class="header">
		<p>DEGEPOL</p>
	</div>
	<div class="image-about">
		<img src="../vendor/images/central.jpeg" alt="Central" style="width:100%">
	</div>
	<br><br>
	<p class="subHeader"> A Delegacia Geral de Polícia Civil da Paraíba visa praticar, todos os atos necessários ao exercício das funções de polícia judiciária e investigativa de caráter criminalístico e criminológico. Dirigida por delegados de polícia de carreira, atua via de regra, depois que um crime ocorre e busca através da investigação criminal estabelecer a verdade real dos fatos.</p>


<br><br><br>


	<div class="header">
		<p>Drakon</p>
	</div>
	<div class="image-dre">
		<img src="../vendor/images/DRE_RZ.png" alt="Drakon" style="width:100%">
	</div>
		<p class="subHeader"> No intuito de informatizar o trabalho da equipe, esta aplicação foi feita diretamente para a Delegacia de Repressão e Entorpecentes (DRE) de Campina Grande - PB, e tem como função catalogar de forma qualificada o tráfico de drogas por meio de investigação criminal efetiva. O Núcleo de Repressão a Entorpecentes (NRE), está funcionando na Central de Polícia Civil, no bairro do Catolé.</p>
</div>

<br><br><br>


<div class="header">
	<p> Team </p>
</div>
<div class="row">
  <div class="column">
		<img class="image-team" src="../vendor/images/ramirez.jpg" alt="Ícaro" style="width:100%">
    <div class="card">
      <div class="container">
        <h2>Ramirez Pedro</h2>
        <p class="title">Idealizer</p>
        <p>Delegado titular do Núcleo de Repressão a Entorpecentes e idealizador da aplicação.</p><br><br>
				<p>ramirezaspedro@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
		<img class="image-team" src="../vendor/images/team-icaro.jpg" alt="Ícaro" style="width:100%">
    <div class="card">
      <div class="container">
        <h2>Ícaro Forte</h2>
        <p class="title">Developer & Designer</p>
        <p>Desenvolvedor Full Stack </p>
				<p>Aluno concluinte do curso de Ciência da Computação - UFCG que atua no desenvolvimento e manutenção da aplicação.</p>
        <p>icarofort@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="column">
		<img class="image-team" src="../vendor/images/team-dayana.jpg" alt="Dayana" style="width:100%">
    <div class="card">
      <div class="container">
        <h2>Dayana Souza</h2>
        <p class="title">Developer & Designer</p>
        <p>Desenvolvedora Full Stack</p>
				<p>Aluna concluinte do curso de Ciência da Computação - UFCG que atua no desenvolvimento e manutenção da aplicação.</p>
        <p>dayana.souza@ccc.ufcg.edu.br</p>
      </div>
    </div>
  </div>
</div>
