
<link href="vendor/css/login.css" rel="stylesheet">
<br><br><br><br><br>

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
        <br>
				<h3>Login</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
      <br>
			<div class="card-body">
				<form ng-submit = "main.fazerLogin(logindata);">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Usuário" ng-model="main.logindata.username">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Senha" ng-model="main.logindata.password">
					</div>
          <br><br>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
			</div>
		</div>
	</div>
</div>
