<div id="content-wrapper">
  <div class="container-fluid">

  <div class="form-group" align="center">

  <div class="card mb-1 cadastro-border" style="width: 40rem;">

    <form id="formEntorpecentes" ng-submit = "entorpecente.registerEntorpecente(entorpecentedata);">

    <div class="cadastro-header">
      <img src="/vendor/images/Black_dragon.png" class="cadastro-header-image"> Cadastro
    </div>
    <br>

    <div class="cadastro-label">
      <label>Usuário</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control " name="usuario" type="text" required="" data-ng-model = "entorpecente.entorpecentedata.username">
    </div>

    <div class="cadastro-label">
      <label>Procedimento</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="procedimento" type="text" data-ng-model = "entorpecente.entorpecentedata.procedimento">
    </div>

    <div class="cadastro-label">
      <label>N° procedimento</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="n_proced" type="text" data-ng-model = "entorpecente.entorpecentedata.n_proced">
    </div>

    <div class="cadastro-label">
      <label>Investigado</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="investigado" type="text" data-ng-model = "entorpecente.entorpecentedata.investigado">
    </div>

    <div class="cadastro-label">
      <label>Data entrada</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control cadastro-date" id="date" name="date" placeholder="DD/MM/AAAA" type="text" autocomplete="off" data-ng-model = "entorpecente.entorpecentedata.data_entrada">
    </div>


    <div class="cadastro-label">
      <label>Droga: </label>
    <div class="cadastro-radio">
      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-cloroformio" name="optradio" value="Clorofórmio" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-cloroformio">Clorofórmio</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-cocaina" name="optradio" value="Cocaína" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-cocaina">Cocaína</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-comprimidos" name="optradio" value="Comprimidos" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-comprimidos">Comprimidos</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-crack" name="optradio" value="Crack" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-crack">Crack</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-maconha" name="optradio" value="Maconha" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-maconha">Maconha</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-outro" name="optradio" value="Outro" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-outro">Outro</label>
      </div>
    </div>
  </div>

    <div class="cadastro-label">
      <label>Quantidade</label>
    </div>

    <div class="cadastro-quantidade">
      <input class="form-control" name="quant" type="text" data-ng-model = "entorpecente.entorpecentedata.quant">
    </div>


    <select class="browser-default custom-select cadastro-select" data-ng-model = "entorpecente.entorpecentedata.und">
      <option value="" selected disabled>Unidade</option>
      <option value="G">Grama (G)</option>
      <option value="KG">Quilograma (KG)</option>
      <option value="ML">Mililitros (ML)</option>
      <option value="L">Litros (L)</option>
      <option value="Und">Unidades (Und)</option>
    </select>

    <div class="cadastro-label cadastro-label-padding">
      <label>Laudo</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="laudo" type="text" data-ng-model = "entorpecente.entorpecentedata.laudo">
    </div>

    <div class="cadastro-label">
      <label>Vara</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="vara" type="text" data-ng-model = "entorpecente.entorpecentedata.vara">
    </div>

    <div class="cadastro-label">
      <label>N° Processo</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="n_processo" type="text" data-ng-model = "entorpecente.entorpecentedata.n_processo">
    </div>

    <div class="cadastro-label">
      <label>Lacre</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="lacre" type="text" data-ng-model = "entorpecente.entorpecentedata.lacre">
    </div>

    <div class="cadastro-label">
      <label>Data de Autorização</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control cadastro-date" id="date" name="date2" placeholder="DD/MM/AAAA" type="text" data-ng-model = "entorpecente.entorpecentedata.data_autorizacao">
    </div>

    <div class="cadastro-label">
      <label>Caixa</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="caixa" type="text" data-ng-model = "entorpecente.entorpecentedata.caixa">
    </div>

    <div class="cadastro-label">
      <label>Ofício</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="oficio" type="text" data-ng-model = "entorpecente.entorpecentedata.oficio">
    </div>

    <div class="cadastro-label">
      <label>Delegacia</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="delegacia" type="text" data-ng-model = "entorpecente.entorpecentedata.delegacia">
    </div>

    <button id="submitBtn" data-target="#confirm-submit" class="btn btn-outline-success cadastro-button" type="submit">Salvar</button>
  </form>
  <br>
  </div>
  </div>
 </div>
</div>

<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Confirmar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body" align="center">
              Registro cadastrado com sucesso!
          </div>
          <div class="modal-footer">
              <button id="reset-btn" type="reset" value="reset" class="btn btn-outline-success cadastro-button" data-dismiss="modal">Ok</button>
          </div>
      </div>
  </div>
</div>

<script src="vendor/js/datapicker.js"></script>

<script src="vendor/js/modal-submit.js"></script>

<script src="vendor/js/bootstrap-datepicker.min.js"></script>

<script src="vendor/js/jquery.validate.min.js"></script>
