<!--

<div id="content-wrapper">
  <div class="container-fluid">

  <div class="form-group" align="center">

  <div class="card mb-1 cadastro-border" style="width: 40rem;">

    <form id="formEntorpecentes" data-ng-value = "entorpecente.entorpecentedata.username = main.username" ng-submit = "entorpecente.registerEntorpecente(entorpecentedata);">

    <div class="cadastro-header">
      <img src="/vendor/images/Black_dragon.png" class="cadastro-header-image"> Cadastro
    </div>
    <br>
    <br>
    <div class="cadastro-label">
      <label>Delegacia</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="delegacia" type="text" required="" data-ng-model = "entorpecente.entorpecentedata.delegacia">
    </div>

    <div class="cadastro-label">
      <label>Procedimento: </label>
    <div class="cadastro-radio">

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="radio-TCO" name="optradioProcedimento" value="TCO" data-ng-model="entorpecente.entorpecentedata.procedimento">
      <label class="custom-control-label" for="radio-TCO">TCO</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="radio-IPL" name="optradioProcedimento" value="IPL" data-ng-model="entorpecente.entorpecentedata.procedimento">
      <label class="custom-control-label" for="radio-IPL">IPL</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="radio-PECA" name="optradioProcedimento" value="PECA" data-ng-model="entorpecente.entorpecentedata.procedimento">
      <label class="custom-control-label" for="radio-PECA">PECA</label>
    </div>
  </div>
  </div>

    <div class="cadastro-label">
      <label>N° procedimento</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="n_proced" type="text" data-ng-model = "entorpecente.entorpecentedata.n_proced">
    </div>

    <div class="cadastro-label">
      <label>Laudo</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="laudo" type="text" data-ng-model = "entorpecente.entorpecentedata.laudo">
    </div>

    <div class="cadastro-label">
      <label>Lacre</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="lacre" type="text" data-ng-model = "entorpecente.entorpecentedata.lacre">
    </div>

    <div class="cadastro-label">
      <label>Caixa</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="caixa" type="text" data-ng-model = "entorpecente.entorpecentedata.caixa">
    </div>

    <div class="cadastro-label">
      <label>Droga: </label>
    <div class="cadastro-radio">
      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-cloroformio" name="optradioDroga" value="Clorofórmio" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-cloroformio">Clorofórmio</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-cocaina" name="optradioDroga" value="Cocaína" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-cocaina">Cocaína</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-comprimidos" name="optradioDroga" value="Comprimidos" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-comprimidos">Comprimidos</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-crack" name="optradioDroga" value="Crack" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-crack">Crack</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-maconha" name="optradioDroga" value="Maconha" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-maconha">Maconha</label>
      </div>

      <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="radio-outro" name="optradioDroga" value="Outro" data-ng-model="entorpecente.entorpecentedata.substancia">
          <label class="custom-control-label" for="radio-outro">Outro</label>
      </div>
    </div>
  </div>

    <div class="cadastro-label">
      <label>Quantidade</label>
    </div>

    <div class="cadastro-quantidade">
      <input class="form-control" name="quant" type="text" data-ng-model = "entorpecente.entorpecentedata.quant">
    </div>


    <select class="browser-default custom-select cadastro-select" data-ng-model = "entorpecente.entorpecentedata.und">
      <option value="" selected disabled>Unidade</option>
      <option value="G">Grama (G)</option>
      <option value="KG">Quilograma (KG)</option>
      <option value="ML">Mililitros (ML)</option>
      <option value="L">Litros (L)</option>
      <option value="Und">Unidades (Und)</option>
    </select>

    <div class="cadastro-label">
      <label>Data entrada</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control cadastro-date" id="date" name="date" placeholder="DD/MM/AAAA" type="text" autocomplete="off" data-ng-model = "entorpecente.entorpecentedata.data_entrada">
    </div>

    <div class="cadastro-label">
      <label>Investigado</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="investigado" type="text" data-ng-model = "entorpecente.entorpecentedata.investigado">
    </div>

    <div class="cadastro-label">
      <label>Local da apreensão</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="local_apreensao" type="text" data-ng-model = "entorpecente.entorpecentedata.local_apreensao">
    </div>

    <div class="cadastro-label">
      <label>Data da apreensão</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control cadastro-date" id="date" name="date" placeholder="DD/MM/AAAA" type="text" data-ng-model = "entorpecente.entorpecentedata.data_apreensao">
    </div>

    <div class="cadastro-label">
      <label>Vara</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="vara" type="text" data-ng-model = "entorpecente.entorpecentedata.vara">
    </div>

    <div class="cadastro-label">
      <label>N° Processo</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="n_processo" type="text" data-ng-model = "entorpecente.entorpecentedata.n_processo">
    </div>


   <div class="cadastro-label">
        <label>Autorização </label>
      <div class="cadastro-radio">

      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="radio-autorizacao-sim" name="optradioAutorizacao" value="SIM"
        data-ng-model="entorpecente.entorpecentedata.autorizacao">
        <label class="custom-control-label" for="radio-autorizacao-sim">Autorizado</label>
      </div>

      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="radio-autorizacao-nao" name="optradioAutorizacao" value="NÃO" data-ng-model="entorpecente.entorpecentedata.autorizacao">
        <label class="custom-control-label" for="radio-autorizacao-nao">Não autorizado</label>
      </div>
    </div>
    </div>

    <div class="cadastro-label">
      <label>Data de Autorização</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control cadastro-date" id="date" name="date" placeholder="DD/MM/AAAA" type="text" data-ng-model = "entorpecente.entorpecentedata.data_autorizacao">
    </div>


    <div class="cadastro-label">
      <label>Ofício</label>
    </div>
    <div class="cadastro-field">
      <input class="form-control" name="oficio" type="text" data-ng-model = "entorpecente.entorpecentedata.oficio">
    </div>

    <div class="cadastro-label">
      <label>Incinerado</label>
    <div class="cadastro-radio">

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="radio-Incinerado" name="optradioIncinerado" value="SIM" data-ng-model="entorpecente.entorpecentedata.incinerado">
      <label class="custom-control-label" for="radio-Incinerado">SIM</label>
    </div>

    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="radio-NaoIncinerado" name="optradioIncinerado" value="NÃO" data-ng-model="entorpecente.entorpecentedata.incinerado">
      <label class="custom-control-label" for="radio-NaoIncinerado">NÃO</label>
    </div>
  </div>
  </div>

    <button id="submitBtn" data-target="#confirm-submit" class="btn btn-outline-success cadastro-button" type="submit">Salvar</button>
  </form>
  <br>
  </div>
  </div>
 </div>
</div>

<script src="vendor/js/datapicker.js"></script>

<script src="vendor/js/modal-submit.js"></script>

<script src="vendor/js/bootstrap-datepicker.min.js"></script>

<script src="vendor/js/jquery.validate.min.js"></script> 

-->


<!-- ------------------------------------------------------------- -->

<link href="vendor/css/cadastroentorpecente.css" rel="stylesheet">
<br><br><br>

<head>
<style> 
input[type=text] {
  background-color: rgba(0,0,0,0);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}
</style>
</head>

<div class="container">
 <div class="d-flex justify-content-center h-100">
  <div class="card">


      <div class="card-header">
        <br>
        <h3>Cadastro</h3> 
      </div>




      <form class="card-body" id="formEntorpecentes" data-ng-value = "entorpecente.entorpecentedata.username = main.username" ng-submit = "entorpecente.registerEntorpecente(entorpecentedata);">
       <br>

          <div class="cadastro-label">
            <label>Delegacia</label>
         
          <div class="cadastro-field">
            <input name="delegacia" type="text" required="" data-ng-model = "entorpecente.entorpecentedata.delegacia">
          </div>  </div>

          <div class="cadastro-label">
            <label>Procedimento: </label>
          <div class="cadastro-radio">

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radio-TCO" name="optradioProcedimento" value="TCO" data-ng-model="entorpecente.entorpecentedata.procedimento">
            <label class="custom-control-label" for="radio-TCO">TCO</label>
          </div>

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radio-IPL" name="optradioProcedimento" value="IPL" data-ng-model="entorpecente.entorpecentedata.procedimento">
            <label class="custom-control-label" for="radio-IPL">IPL</label>
          </div>

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radio-PECA" name="optradioProcedimento" value="PECA" data-ng-model="entorpecente.entorpecentedata.procedimento">
            <label class="custom-control-label" for="radio-PECA">PECA</label>
          </div>
        </div>
        </div>

          <div class="cadastro-label">
            <label>N° procedimento</label>
          
          <div class="cadastro-field">
            <input name="n_proced" type="text" data-ng-model = "entorpecente.entorpecentedata.n_proced">
          </div></div>

          <div class="cadastro-label">
            <label>Laudo</label>
          
          <div class="cadastro-field">
            <input name="laudo" type="text" data-ng-model = "entorpecente.entorpecentedata.laudo">
          </div></div>

          <div class="cadastro-label">
            <label>Lacre</label>
          
          <div class="cadastro-field">
            <input name="lacre" type="text" data-ng-model = "entorpecente.entorpecentedata.lacre">
          </div></div>

          <div class="cadastro-label">
            <label>Caixa</label>
          
          <div class="cadastro-field">
            <input name="caixa" type="text" data-ng-model = "entorpecente.entorpecentedata.caixa">
          </div></div>

          <div class="cadastro-label">
            <label>Droga: </label>
          <div class="cadastro-radio">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="radio-cloroformio" name="optradioDroga" value="Clorofórmio" data-ng-model="entorpecente.entorpecentedata.substancia">
                <label class="custom-control-label" for="radio-cloroformio">Clorofórmio</label>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="radio-cocaina" name="optradioDroga" value="Cocaína" data-ng-model="entorpecente.entorpecentedata.substancia">
                <label class="custom-control-label" for="radio-cocaina">Cocaína</label>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="radio-comprimidos" name="optradioDroga" value="Comprimidos" data-ng-model="entorpecente.entorpecentedata.substancia">
                <label class="custom-control-label" for="radio-comprimidos">Comprimidos</label>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="radio-crack" name="optradioDroga" value="Crack" data-ng-model="entorpecente.entorpecentedata.substancia">
                <label class="custom-control-label" for="radio-crack">Crack</label>
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="radio-maconha" name="optradioDroga" value="Maconha" data-ng-model="entorpecente.entorpecentedata.substancia">
                <label class="custom-control-label" for="radio-maconha">Maconha</label>
            </div>

           
            <div class="cadastro-outro">
                <input type="text" id="outro" name="optradioDroga" value="Outro" data-ng-model="entorpecente.entorpecentedata.substancia" placeholder="Outro" >
            </div>
          </div>
        </div>

          <div class="cadastro-label">
            <label>Quantidade</label>
          </div>
          
          <div class="cadastro-quantidade">
            <input name="quant" type="text" data-ng-model = "entorpecente.entorpecentedata.quant">
          </div>


          <select class="browser-default custom-select cadastro-select" data-ng-model = "entorpecente.entorpecentedata.und">
            <option value="" selected disabled>Unidade</option>
            <option value="G">Grama (G)</option>
            <option value="KG">Quilograma (KG)</option>
            <option value="ML">Mililitros (ML)</option>
            <option value="L">Litros (L)</option>
            <option value="Und">Unidades (Und)</option>
          </select> 

          <div class="cadastro-label">
            <label>Data entrada</label>
          </div>
          
           <div class="cadastro-date">
            <input class="cadastro-date" id="date" name="date" placeholder="DD/MM/AAAA" type="text" autocomplete="off" data-ng-model = "entorpecente.entorpecentedata.data_entrada">
          </div>

          <div class="cadastro-label">
            <label>Investigado</label>
          
          <div class="cadastro-field">
            <input name="investigado" type="text" data-ng-model = "entorpecente.entorpecentedata.investigado">
          </div></div>

          <div class="cadastro-label">
            <label>Local da apreensão</label>
          
          <div class="cadastro-field">
            <input name="local_apreensao" type="text" data-ng-model = "entorpecente.entorpecentedata.local_apreensao">
          </div></div>

          <div class="cadastro-label">
            <label>Data da apreensão</label>
          </div>
          
          <div class="cadastro-date">
            <input class="cadastro-date" id="date" name="date" placeholder="DD/MM/AAAA" type="text" data-ng-model = "entorpecente.entorpecentedata.data_apreensao">
          </div>

          <div class="cadastro-label">
            <label>Vara</label>
          
          <div class="cadastro-field">
            <input name="vara" type="text" data-ng-model = "entorpecente.entorpecentedata.vara">
          </div></div>

          <div class="cadastro-label">
            <label>N° Processo</label>
          
          <div class="cadastro-field">
            <input name="n_processo" type="text" data-ng-model = "entorpecente.entorpecentedata.n_processo">
          </div></div>


         <div class="cadastro-label">
              <label>Autorização </label>
            <div class="cadastro-radio">

            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="radio-autorizacao-sim" name="optradioAutorizacao" value="SIM"
              data-ng-model="entorpecente.entorpecentedata.autorizacao">
              <label class="custom-control-label" for="radio-autorizacao-sim">Autorizado</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="radio-autorizacao-nao" name="optradioAutorizacao" value="NÃO" data-ng-model="entorpecente.entorpecentedata.autorizacao">
              <label class="custom-control-label" for="radio-autorizacao-nao">Não autorizado</label>
            </div>
          </div>
          </div>

          <div class="cadastro-label">
            <label>Data de Autorização</label>
          </div>
          
          <div class="cadastro-date">
            <input class="cadastro-date" id="date" name="date" placeholder="DD/MM/AAAA" type="text" data-ng-model = "entorpecente.entorpecentedata.data_autorizacao">
          </div>


          <div class="cadastro-label">
            <label>Ofício</label>
          
          <div class="cadastro-field">
            <input name="oficio" type="text" data-ng-model = "entorpecente.entorpecentedata.oficio">
          </div></div>

          <div class="cadastro-label">
            <label>Incinerado</label>
          <div class="cadastro-radio">

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radio-Incinerado" name="optradioIncinerado" value="SIM" data-ng-model="entorpecente.entorpecentedata.incinerado">
            <label class="custom-control-label" for="radio-Incinerado">SIM</label>
          </div>

          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radio-NaoIncinerado" name="optradioIncinerado" value="NÃO" data-ng-model="entorpecente.entorpecentedata.incinerado">
            <label class="custom-control-label" for="radio-NaoIncinerado">NÃO</label>
          </div>
        </div>
        </div>

          <button id="submitBtn" data-target="#confirm-submit" class="btn float-right login_btn" type="submit">Salvar</button>
        </form>


<script src="vendor/js/datapicker.js"></script>

<script src="vendor/js/modal-submit.js"></script>

<script src="vendor/js/bootstrap-datepicker.min.js"></script>

<script src="vendor/js/jquery.validate.min.js"></script>
        
          
    </div>
  </div>
</div>