<div class="card mb-3">
  <div class="card-body">
    <img id="printBtn" align="right" border="0" src="vendor/images/print_icon.png" width="30" height="30" ng-click="entorpecente.imprimirTabela();">
    <img id="export" align="right" style="padding-right:3px" src="vendor/images/csv_icon.png" width="30" height="30" onclick placeholder="Clique para baixar CSV da tabela">
    <div class="table-responsive">
      <div class="row">
</div>

<!--<table id="example" class="table table-bordered table-striped display table-hover" style="width:100%"> -->

  <table ng-table="entorpecente.tableParams" class="table table-bordered table-striped table-hover" show-filter="true" id="entorpecenteTabela">
    <tr ng-repeat="item in $data" ng-click="entorpecente.linkedTable(item);">
      <td title="'Delegacia'" filter="{ delegacia: 'text'}" sortable="'delegacia'">
          {{item.delegacia}}</td>
      <td title="'Proced'" filter="{ procedimento: 'text'}" sortable="'procedimento'">
          {{item.procedimento}}</td>
      <td title="'Num. Proced.'" filter="{ n_proced: 'text'}" sortable="'n_proced'">
        {{item.n_proced}}</td>
      <td title="'Laudo'" filter="{ laudo: 'text'}" sortable="'laudo'">
        {{item.laudo}}</td>
      <td title="'Lacre'" filter="{ lacre: 'text'}" sortable="'lacre'">
        {{item.lacre}}</td>
      <td title="'Substância'" filter="{ substancia: 'text'}" sortable="'substancia'">
        {{item.substancia}}</td>
      <td title="'Qtd'" filter="{ quant: 'number'}" sortable="'quant'">
        {{item.quant}}</td>
      <td title="'Und'" filter="{ und: 'text'}" sortable="'und'">
        {{item.und}}</td>
      <td title="'Data'" filter="{ data_entrada: 'text'}" sortable="'data_entrada'">
        {{item.data_entrada}}</td>
      <td title="'Investigado'" filter="{ investigado: 'text'}" sortable="'investigado'">
        {{item.investigado}}</td>
      <td title="'Local Apreen'" filter="{ local_apreensao: 'text'}" sortable="'local_apreensao'">
        {{item.local_apreensao}}</td>
      <td title="'Data Apreen'" filter="{ data_apreensao: 'text'}" sortable="'data_apreensao'">
        {{item.data_apreensao}}</td>
      <td title="'Vara'" filter="{ vara: 'text'}" sortable="'vara'">
        {{item.vara}}</td>
      <td title="'N° Processo'" filter="{ n_processo: 'text'}" sortable="'n_processo'">
        {{item.n_processo}}</td>
      <td title="'Autorizado'" filter="{ autorizacao: 'text'}" sortable="'autorizacao'">
        {{item.autorizacao}}</td>
      <td title="'Data Autorização'" filter="{ data_autorizacao: 'text'}" sortable="'data_autorizacao'">
        {{item.data_autorizacao}}</td>
      <td title="'Ofício'" filter="{ oficio: 'text'}" sortable="'oficio'">
        {{item.oficio}}</td>
      <td title="'Incinerado'" filter="{ incinerado: 'text'}" sortable="'incinerado'">
        {{item.incinerado}}</td>

    </tr>
  </table>

  <script src="vendor/js/tabletoCSV.js"></script>
    <!-- Ativar a exportação da tabela para CSV -->
    <script>
        $(function(){
            $("#export").click(function(){
                $("#entorpecenteTabela").tableToCSV();
            });
        });
    </script>
