<div class="card mb-3">
  <div class="card-body">
    <div class="table-responsive">

<table id="example" class="table table-bordered table-striped display" style="width:100%">
    <thead>
        <tr>
            <!-- <th class="d-none">Usuário</th> omite a coluna usuário-->
        <th>Proced.</th>
        <th>Num. Proced.</th>
        <th>Data</th>
        <th>Investigado(a)</th>
        <th>Substância</th>
        <th>Qtd.</th>
        <th>Und.</th>
        <th>Laudo</th>
        <th>Vara</th>
        <th>N° Processo</th>
        <th>Lacre</th>
        <th>Data Autorização</th>
        <th>Caixa</th>
        <th>Ofício</th>
        <th>Delegacia</th>
        <th>Autorizado</th>
        <th>Incinerado</th>
        <th>Data Apreen.</th>
        <th>Local Apreen.</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="entorpecente in entorpecente.entorpecentes">
          <td> {{entorpecente.procedimento}}</td>
          <td> {{entorpecente.n_proced}}</td>
          <td> {{entorpecente.data_entrada}}</td>
          <td> {{entorpecente.investigado}}</td>
          <td> {{entorpecente.substancia}}</td>
          <td> {{entorpecente.quant}}</td>
          <td> {{entorpecente.und}}</td>
          <td> {{entorpecente.laudo}}</td>
          <td> {{entorpecente.vara}}</td>
          <td> {{entorpecente.n_processo}}</td>
          <td> {{entorpecente.lacre}}</td>
          <td> {{entorpecente.data_autorizacao}}</td>
          <td> {{entorpecente.caixa}}</td>
          <td> {{entorpecente.oficio}}</td>
          <td> {{entorpecente.delegacia}}</td>
        </tr>
    </tbody>
</table>

</div>
</div>
</div>
