<div id="content-wrapper">
 <div class="container-fluid">
  <div class="form-group" align="center">
   <div class="card mb-1 cadastro-border" style="width: 40rem;">

      <div class="cadastro-header">
      <img src="/vendor/images/Black_dragon.png" class="cadastro-header-image"> Perfil do Usuário
      </div>


                
                  <table class="table">
                    <tr>
                      <td>Nome:</td>
                      <td>{{main.username}}</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>{{main.email}}</td>
                    </tr>
                  </table>

                </div>


   </div>
  </div>
 </div>
</div>