<link href="vendor/css/register.css" rel="stylesheet">
<br><br><br>

<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <br>
        <h3>Novo Usuário</h3>
        <div class="d-flex justify-content-end social_icon">
        </div>
      </div>
      <br>
      <div class="card-body">

        <form ng-submit = "register.registerUser(registerdata);">



          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="text" class="form-control" name="email" placeholder="Insira um e-mail" g-model="register.registerdata.email">
          </div>


          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Insira um nome de usuário" ng-model="register.registerdata.username">
          </div>


          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" name="password" placeholder="Insira uma senha" ng-model="register.registerdata.password">
          </div>
          <br><br>


          <div class="form-group">
            <input type="submit" value="submit" class="btn float-right login_btn">
          </div>


        </form>


            <div class="avisos">
            <div class="jumbotron text-center" ng-show="register.loading">
              <span class="glyphicon glyphicon-repeat spinner"></span>
              <p>Processando...</p>
            </div>

            <div class="row show-hide-message" ng-show="register.sucesso">
              <div class="alert alert-success"> {{ register.sucesso }} </div>
            </div>

            <div class="row show-hide-message" ng-show="register.falha">
              <div class="alert alert-danger"> {{ register.falha }} </div>
            </div>
            </div>




      </div>
      
    </div>
  </div>
</div>