<div class="page-header"> Registrar usuário</div>

<form ng-submit = "register.registerUser(registerdata);">

  <!-- Email -->
  <label>Email:</label>
  <input class="form-control" type="text" name="email" placeholder="Insira um e-mail" ng-model="register.registerdata.email">
  <br>
  <!-- Username -->
  <label>Usuário:</label>
  <input class="form-control" type="text" name="username" placeholder="Insira um nome de usuário" ng-model="register.registerdata.username">
  <br>
  <!-- Password -->
  <label>Senha:</label>
  <input class="form-control" type="password" name="password" placeholder="Insira uma senha" ng-model="register.registerdata.password">
  <br>
  <!-- Submit -->
  <button class="btn btn-primary" type="submit"> Register </button>

</form>
<br>

<div class="jumbotron text-center" ng-show="register.loading">
  <span class="glyphicon glyphicon-repeat spinner"></span>
  <p>Processando...</p>
</div>

<div class="row show-hide-message" ng-show="register.sucesso">
  <div class="alert alert-success"> {{ register.sucesso }} </div>
</div>

<br>

<div class="row show-hide-message" ng-show="register.falha">
  <div class="alert alert-danger"> {{ register.falha }} </div>
</div>
